<header class="d-flex align-items-center bg-primary text-white p-3">
	<img src="logo-sin-fondo.png" alt="Logo" class="me-3" style="height:60px;">
	<h1 class="h4 mb-0">Edunet</h1>
</header>
<nav class="bg-dark">
	<div class="container">
		<ul class="nav nav-pills py-2">
			<li class="nav-item"><a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/gestion-usuarios" routerLinkActive="active">Gestión de Usuarios</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/configurar-cursos" routerLinkActive="active">Configurar Cursos</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/create-user" routerLinkActive="active">Crear Usuario</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/reportes" routerLinkActive="active">Reportes</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/informes" routerLinkActive="active">Estadísticas</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/comunicacion-general" routerLinkActive="active">Comunicacion general</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/anuncios-boletines" routerLinkActive="active">Anuncios y Boletines</a></li>
			<li class="nav-item ms-auto">
				<a routerLink="/login" class="btn btn-danger">
					<i class="bi bi-box-arrow-right"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
